{% extends 'base.html' %}
{% block title %} Kitchen {% endblock %}
{% block content %}
<h2>Kitchen Orders</h2>
{% for order in orders %}
<div>
    <h4>Table {{ order.table.table_number }} (Order ID: {{ order.id }})</h4>
    <p><strong> Order ID: {{ order.id }}</strong></p>
    <ul>
        {% for item in order.items.all %}
            {% if item.status != 'Finished' and item.status != 'Cancelled' %}
                <li>
                    {{ item.dish.name }} - x{{ item.quantity }}   Status: {{ item.status }}
                    <form method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="order_id" value="{{ order.order_id }}">
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <label for="new_status_{{ item.id }}"></label>
                        <select name="new_status" id="new_status_{{ item.id }}">
                            <option value="Cooking" {% if item.status == "Cooking" %}selected{% endif %}>Cooking</option>
                            <option value="Ready to Serve" {% if item.status == "Ready to Serve" %}selected{% endif %}>Ready to Serve</option>
                            <option value="Cancelled" {% if item.status == "Cancelled" %}selected{% endif %}>Cancelled</option>
                        </select>
                        <button type="submit">Update</button>
                        <button type="submit" name="new_status" value="Cancelled"
                                {% if item.status == "Cancelled" %}disabled{% endif %}>Cancelled</button>
                    </form>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <form method="post" style="margin-top: 10px;">
        {% csrf_token %}
        <input type="hidden" name="order_id" value="{{ order.order_id }}">
        <label for="all_items_status_{{ order.order_id }}">Update All Items' Status:</label>
        <select name="new_status" id="all_items_status_{{ order.order_id }}">
            <option value="Cooking">Cooking</option>
            <option value="Ready to Serve">Ready to Serve</option>
            <option value="Finished">Finished</option>
            <option value="Cancelled">Cancelled</option>
        </select>
        <button type="submit">Update All</button>
    </form>
</div>
<br>
{% endfor %}
{% endblock %}
