{% extends 'base.html' %}

{% block content %}
<h2>Change Package</h2>

{% if error %}
  <p style="color: red;">{{ error }}</p>
{% endif %}

<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label>
        <input type="radio" name="package" value="279" {% if selected_package == "279" %}checked{% endif %} required>
        Package 279
    </label>
  </div>
  <div class="form-group">
    <label>
        <input type="radio" name="package" value="379" {% if selected_package == "379" %}checked{% endif %} required>
        Package 379
    </label>
  </div>
  <br>
  <button type="submit">Change Package</button>
</form>

{% if order and order.order_id %}
  <p><a href="{% url 'change_package' order.order_id %}">Change Package</a></p>
{% endif %}
{% endblock %}