{% extends "base.html" %}
{% block title %} Order Submitted {% endblock %}
{% block content %}
<h2>Order Submitted</h2>
<p>Your order has been submitted successfully!</p>
<p><strong>Order ID:</strong> {{ order_id }}</p>
<br><br>
<h2>Submitted Dishes</h2>
<ul>
  {% for item in submitted_items %}
    <li>
      {{ item.quantity }} x {{ item.dish.name }}
      {% if item.additional_option %}
        (Options: {{ item.additional_option }})
      {% endif %}
    </li>
  {% endfor %}
</ul>
<a href="{% url 'order_page' order_id %}">Menu</a>
{% endblock %}